.wrapper {
  display: flex;
  flex-direction: column;
}

.start{
  margin-top: 50px;
  align-self: center;
  width: 300px;
  height: 100px;
  font-size: 1.7em;
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-weight: bold;
  background-color: red;
  border-color: white;
  border-radius: 10px;
}

.timer{ 
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
}

.pokeWrap{
  align-self: flex-start;
  margin-top: -100px;
  margin-left: 18vw;
}

.pokeImg {
  width: 500px;
}

.pokeName {
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  margin-top: -50px;
}

